.TodoList{
    width: 80rem;
    height: 80vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,102,121,1) 50%, rgba(0,212,255,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightslategray;
}

.content{
    width: 50%;
}

.items{
    color: white;
    text-decoration: underline;
}

.mouseOver{
    background: none;
    border:none;
    color: white;
    cursor: pointer;
}

.navbar item{
    color: white;
}